<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>노트북 견적 내줘!</title>

    <link rel="stylesheet" href="webjars/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="/webjars/jquery/2.2.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>

</head>

<body id = mainpage-overrides>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand text-danger display-4" href="http://comalmot.com/" style="font-family: '본고딕 KR Heavy'" >노트북 견적 내줘!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="http://comalmot.com/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Content -->
<div class = "container mt-5" >

    <div class="row">

        <div class="col-lg-3 mt-4">
            <div class="list-group " >
                <a href="#" class="list-group-item list-group-item-action text-danger h5" style="font-family: '본고딕 KR Medium'">
                    <span class="fas fa-caret-right"></span> 이용 방법
                </a>
                <a href="http://comalmot.com/view" class="list-group-item list-group-item-action text-danger h5" style="font-family: '본고딕 KR Medium'">
                    <span class="fas fa-caret-right"></span> 노트북 상세검색
                </a>
                <a href="http://comalmot.com/chatbot" class="list-group-item list-group-item-action text-danger h5" style="font-family: '본고딕 KR Medium'">
                    <span class="fas fa-caret-right"></span> 컴잘알에게 말해줘
                </a>
                <a href="http://comalmot.com/query" class="list-group-item list-group-item-action text-danger h5" style="font-family: '본고딕 KR Medium'">
                    <span class="fas fa-caret-right"></span> 개인별 맞춤 솔루션
                </a>
            </div>
        </div>
        <!-- /.col-lg-3 -->


        <div class="col-lg-9 mt-4" >
            <div class="row">
                <div class="row col-lg-12" id="querytest" style="text-align: center">
                    <p style="text-align: center">
                        <img id="queryimg" src="https://t1.daumcdn.net/cfile/tistory/9983BD355C4DC19334" alt="" style="width:inherit; max-width:100%; height: auto; text-align: center">
                    </p>
                </div>
                <div id="answer1region" class="col-lg-3 col-md-6">
                    <button id="answer1" type="button" class="btn btn-outline-danger" style="width: inherit; display: block;">학업</button>
                </div>
                <div id="answer2region" class="col-lg-3 col-md-6">
                    <button id="answer2" type="button" class="btn btn-outline-danger" style="width: inherit; display: block;">업무</button>
                </div>
                <div id="answer3region" class="col-lg-3 col-md-6">
                    <button id="answer3" type="button" class="btn btn-outline-danger" style="width: inherit; display: block;">영화감상</button>
                </div>
                <div id="answer4region" class="col-lg-3 col-md-6">
                    <button id="answer4" type="button" class="btn btn-outline-danger" style="width: inherit; display: block;">게임</button>
                </div>

            </div>

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 컴알못</p>
    </div>
    <!-- /.container -->
</footer>

<script type="text/javascript">
    console.log("질문1");
    var address = "?";
    var brand = null;
    var cpukind = null;
    var memorysize = null;
    var sizeinch = null;
    var pricerange = null;
    var weight = null;
    var gpukind = null;

    $("#answer1").click(function () { //학업
        $("#queryimg").attr("src","https://t1.daumcdn.net/cfile/tistory/990FBF3C5C51150C20");
        queryStudent();
    });
    $("#answer2").click(function () { //업무
        $("#queryimg").attr("src","https://t1.daumcdn.net/cfile/tistory/990BEA355C4DC19322");
    });
    $("#answer3").click(function () { //영상감상
        $("#queryimg").attr("src","https://t1.daumcdn.net/cfile/tistory/990BEA355C4DC19322");
    });
    $("#answer4").click(function () { //게임
        $("#queryimg").attr("src","https://t1.daumcdn.net/cfile/tistory/990BEA355C4DC19322");
    });

    function queryStudent() {
        console.log("질문 학생");
        $("#answer1region").attr("class","col-lg-6");
        $("#answer2region").attr("class","col-lg-6");
        $("#answer1").html('초중고등학생');
        $("#answer2").html('대학생');
        $("#answer1").click(function () {//초중고등학생
            $("#queryimg").attr("src","https://t1.daumcdn.net/cfile/tistory/990BEA355C4DC19322");
            memorysize = "2,4";
            address = final(address, brand, memorysize, sizeinch, pricerange, weight, gpukind);
            console.log(address);
        });
        $("#answer2").click(function () {//대학생
            $("#queryimg").attr("src","https://t1.daumcdn.net/cfile/tistory/990BEA355C4DC19322");
        });
        $("#answer3").hide();
        $("#answer4").hide();
    }

    function final(address, brand, cpukind, memorysize, sizeinch, pricerange, weight, gpukind){
        if(brand != null)
            address = address + "brand=" + brand;
        if(cpukind != null)
            address = address + "cpukind=" + cpukind;
        if(memorysize != null)
            address = address + "memorysize=" + memorysize;
        if(sizeinch != null)
            address = address + "sizeinch=" + sizeinch;
        if(pricerange != null)
            address = address + "pricerange=" + pricerange;
        if(weight != null)
            address = address + "weight=" + weight;
        if(gpukind != null)
            address = address + "gpukind" + gpukind;
        return address;
    }

</script>

<script type="text/javascript">
    $(function () {
        console.log("jQuery ready");
    });
</script>

</body>

</html>
