<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Handlebar.js Template</title>
    <script src="webjars/jquery/2.2.1/jquery.js"></script>
    <script src="webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="webjars/handlebars/4.0.11-1/handlebars.js"></script>

</head>
<body>
    <div id="pagination"></div>

    <script id="pagination-template" type="text/x-handlebars-template">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="?page={{notebookPage.number}}">{{notebookPage.number}}</a></li>
                <li class="page-item"><a class="page-link" id="nowpage" href="#">now</a></li>
                <li class="page-item"><a class="page-link" id="nextpage" href="#">next</a></li>
                <script language="javascript" type="text/javascript">
                    var now = {{notebookPage.number}} +1;
                    var next = {{notebookPage.number}} +2;
                    var nowlink = "?page=" + now;
                    var nextlink = "?page=" + next;
                    document.getElementById("nowpage").setAttribute("href",nowlink);
                    document.getElementById("nextpage").setAttribute("href",nextlink);
                <{{!}}/script>
            </ul>
        </nav>
    </script>

    <script type="text/javascript">
        var psource = $("#pagination-template").html();
        var template = Handlebars.compile(psource);
        Handlebars.registerHelper("now", function (number) {
          return number + 1;
        });
        Handlebars.registerHelper("next", function (number){
            return number + 2;
        });
        $("#pagination").html(template);
    </script>

</body>
</html>